/.vscode/*
!/.vscode/settings.json
!/.vscode/tasks.json
!/.vscode/launch.json
!/.vscode/extensions.json
cdk.out
/coverage
/dist
node_modules
/out-tsc
/tmp
/typings
.DS_Store
resolved.yml
yarn-error.log
