.svelte-kit
/.vscode/*
!/.vscode/settings.json
!/.vscode/tasks.json
!/.vscode/launch.json
!/.vscode/extensions.json
.vercel
.vercel_build_output
build
cdk.out
/coverage
/dist
node_modules
/out-tsc
package
/tmp
/typings

.DS_Store
.env*
!.env.example
yarn-error.log
