name: Deploy

on:
  workflow_call:
    inputs:
      sha:
        description: "Git SHA to deploy."
        required: true
        type: string
  workflow_dispatch:
    inputs:
      sha:
        description: "Git SHA to deploy."
        required: true
        type: string

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - run: echo "SHA ${{ (github.event.inputs || inputs).sha }}"
